<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="app-container">
    <section id="left-menu">
      <div class="account-dropdown">
        <div class="logo">
          <i class="fab fa-bandcamp"></i>
        </div>
        <div class="name">
          Vision 365
        </div>
        <div class="icon">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <div class="groups">
        <div class="group">
          <div class="title">Title</div>
          <ul>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="content-container">
      <div class="search-header">
        <div class="search-box">
          <input type="text" name="" value"">
          <div class="icon-section">
            <div class="notification">
              <i class="fas fa-bell"></i>
              <div class="notification-number active">
                9+
              </div>
            </div>
            <div class="comments">
              <i class="fas fa-comment"></i>
              <div class="notification-number active">
                3
              </div>
            </div>
            <div class="user">
              <i class="fas fa-user"></i>
              <div class="notification-number active">
                3
              </div>
            </div>
          </div>
        </div>
        <div class=""></div>
      </div>
      <div class="content-area">
        <section class="compose-section">
          <textarea name="name" rows="8" cols="80"></textarea>
          <div class="user-img"></div>
          <div class="buttons">
            <div class="button photo-button">
              <i class="fas fa-camera-retro"></i>
            </div>
            <div class="button video-button">
              <i class="fas fa-video"></i>
            </div>
            <div class="button send-button">
              <i class="fas fa-paper-plane"></i>
            </div>
          </div>
        </section>
        <section id="updates">
          <div class="update-container">
            <div class="author-info">
              <a href="#" class="user-img"></a>
              <div class="info"><a href="#">Miguel Fernando</a> shared a <a href="#">photo</a></div>
            </div>
            <div class="media">
              <div class="image" style="background: url('http://farm3.static.flickr.com/2469/4020676336_1628628f80.jpg'); background-position: center center; backgroung-repeat: no-repeat; background-size: cover;"></div>
            </div>
            <div class="padding-container">
              <div class="grey-container">
                <div class="update-info">
                  <h3>Day 1 post</h3>
                  <p>Example of description of what to include on a photo. Example of description of what to include on a photo. Example of description of what to include on a photo.</p>
                </div>
                <div class="update-stats">
                  <div class="icon-section">
                    <div class="like-circle">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                  </div>
                  <div class="other-users">Henry Fernando and 23 others liked post</div>
                  <div class="comments-stats">4 comments</div>
                </div>
                <div class="compose-comment">
                  <textarea name="name" rows="8" cols="80"></textarea>
                  <div class="buttons">
                    <div class="button repost-button"><i class="fas fa-paper-plane"></i></div>
                    <div class="button like-button"><i class="fas fa-thumbs-up"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="update-container">
            <div class="author-info">
              <a href="#" class="user-img"></a>
              <div class="info"><a href="#">Miguel Fernando</a> shared a <a href="#">photo</a></div>
            </div>
            <div class="media">
              <div class="image" style="background: url('http://farm3.static.flickr.com/2469/4020676336_1628628f80.jpg'); background-position: center center; backgroung-repeat: no-repeat; background-size: cover;"></div>
            </div>
            <div class="padding-container">
              <div class="grey-container">
                <div class="update-info">
                  <h3>Day 1 post</h3>
                  <p>Example of description of what to include on a photo. Example of description of what to include on a photo. Example of description of what to include on a photo.</p>
                </div>
                <div class="update-stats">
                  <div class="icon-section">
                    <div class="like-circle">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                  </div>
                  <div class="other-users">Henry Fernando and 23 others liked post</div>
                  <div class="comments-stats">4 comments</div>
                </div>
                <div class="compose-comment">
                  <textarea name="name" rows="8" cols="80"></textarea>
                  <div class="buttons">
                    <div class="button repost-button"><i class="fas fa-paper-plane"></i></div>
                    <div class="button like-button"><i class="fas fa-thumbs-up"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="update-container">
            <div class="author-info">
              <a href="#" class="user-img"></a>
              <div class="info"><a href="#">Miguel Fernando</a> shared a <a href="#">photo</a></div>
            </div>
            <div class="media">
              <div class="image" style="background: url('http://farm3.static.flickr.com/2469/4020676336_1628628f80.jpg'); background-position: center center; backgroung-repeat: no-repeat; background-size: cover;"></div>
            </div>
            <div class="padding-container">
              <div class="grey-container">
                <div class="update-info">
                  <h3>Day 1 post</h3>
                  <p>Example of description of what to include on a photo. Example of description of what to include on a photo. Example of description of what to include on a photo.</p>
                </div>
                <div class="update-stats">
                  <div class="icon-section">
                    <div class="like-circle">
                      <i class="fas fa-thumbs-up"></i>
                    </div>
                  </div>
                  <div class="other-users">Henry Fernando and 23 others liked post</div>
                  <div class="comments-stats">4 comments</div>
                </div>
                <div class="compose-comment">
                  <textarea name="name" rows="8" cols="80"></textarea>
                  <div class="buttons">
                    <div class="button repost-button"><i class="fas fa-paper-plane"></i></div>
                    <div class="button like-button"><i class="fas fa-thumbs-up"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="">

      </div>
    </section>

  </div>
  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/firstComp.js"></script>
</body>
</html>
