$textfield: #F3F3F3;
$background-content: #f6f6f6;
$red: #ff3658;
$darksideblue: #0178FF;
$lightsideblue: #32AEFF;
$ptext: #797979;
$htext: #3c3c3c;
$border: #ebebeb;
$background-search: #1E88F4;
$background-search-input: #0472E3;
$verylighttext: #a1a5ac;
