@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";

* {
  box-sizing: border-box;
}

body {

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: rgba(132,162,233,1);
  background: -moz-linear-gradient(-45deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(132,162,233,1)), color-stop(100%, rgba(223,254,230,1)));
  background: -webkit-linear-gradient(-45deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
  background: linear-gradient(135deg, rgba(132,162,233,1) 0%, rgba(223,254,230,1) 100%);
}
.app-container {
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
    background: white;
    min-height: calc(100vh - 15vh);
    margin: 30px 0;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 15% 85%;
    #left-menu {
      border-right: 2px solid #e6e9ef;

      .account-dropdown {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        justify-content: center;
        align-items: center;
        padding: 15px;
        .logo {

          .fab {
            font-size: 2rem;
          }
        }
        .name {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .icon {

          .fa-chevron-down {
            font-size: .8rem;
          }
        }
      }
    }
    .groups {
      padding: 15px;
      .group {
        .title {
          padding: 10px 0;
          font-size: 0.8rem;
          font-weight: 700;
          text-transform: uppercase;
        }
        ul {
          li {
            padding: 10px 0;
            font-size: 0.8rem;
            color: #818387;

          }
        }
      }
    }
    #content-container {
      overflow: hidden;
      height: 800px;

      .search-header {
        position: relative;
        padding: 10px;
        -webkit-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
        -moz-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
        box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
        .search-box {
          width: 600px;
          margin: 0 auto;
          input[type="text"] {
            background: #F3F3F3;
            border: none;
            border-radius: 3px;
            font-size: 1.2rem;
            width: 100%;
            padding: 5px 15px;
          }

        }
        .icon-section {
          position: absolute;
          top: 15px;
          right: 0;
          font-size: 1.2rem;
          padding-right: 15px;
          & > div {
            display: inline-block;
            color: #797979;
            padding: 0 5px;
            position: relative;
          }

          .notification-number {
            display: none;
            background-color: $red;
            color: white;
            font-size: 0.6rem;
            position: absolute;
            top: -10px;
            right: -7px;
            padding: 2px 4px;
            border: 2px solid white;
            border-radius: 5px;
            &.active {
              display: block;
            }
          }


        }
      }

      .content-area {
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 0 15px 0 8px;

        .compose-section {
          width: 600px;
          margin: 0 auto;
          padding: 35px 0;
          position: relative;
          textarea {
            resize: none;
            width: 100%;
            height: 75px;
            background: $textfield;
            border: none;
            border-radius: 4px;
            padding: 15px 30px;
            font-size: 1.2rem;
          }
          .user-img {
            background: url("https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg");
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 5px solid white;
            background-position: center center;
            backgroung-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 20px;
            left: -15px;
          }

          .buttons {
            position: absolute;
            right: 15px;
            bottom: 20px;
            display: flex;
            .button {
              color: $htext;
              background: white;
              height: 35px;
              width: 35px;
              margin-left: 15px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1rem;
              -webkit-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
              -moz-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
              box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
              &.send-button {
                color: white;
                background: rgba(50,173,255,1);
                background: -moz-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,173,255,1)), color-stop(100%, rgba(1,120,255,1)));
                background: -webkit-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                background: -o-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                background: -ms-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                background: linear-gradient(to bottom, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
              }
              .fa-paper-plane {
                transform: rotate(40deg);
              }
            }
          }
        }
        #updates {
          .update-container {
            max-width: 630px;
            width: 100%;
            margin: 0 auto;
            .author-info {
              display: flex;
              padding: 0 15px;
              .user-img {
                display: inline-block;
                background: url("https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg");
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 5px solid white;
                background-position: center center;
                backgroung-repeat: no-repeat;
                background-size: cover;
              }
              .info {
                display:flex;
                align-items: center;
                justify-content: center;
                font-size: .8rem;
                color: $ptext;
                a {
                  color: $htext;
                  text-decoration: none;
                  font-weight: 700;
                  margin: 0 5px;
                }
              }
            }
            .media {
              position: relative;

              .image {
                position: relative;
                z-index: 2;
                margin: 25px 0 50px;
                height: 300px;
                width: 100%;
                border-radius: 5px;
                -webkit-box-shadow: 0px 32px 48px -21px rgba(59,71,99,1);
                -moz-box-shadow: 0px 32px 48px -21px rgba(59,71,99,1);
                box-shadow: 0px 32px 48px -21px rgba(59,71,99,1);

              }
            }
            .padding-container {
              padding: 0 15px;
            }
            .grey-container {
              z-index: 1;
              position: relative;
              top: -50px;
              padding: 50px 20px;
              background: $background-content;
              -webkit-box-shadow: 0px 21px 48px -21px rgba(59,71,99,.5);
              -moz-box-shadow: 0px 21px 48px -21px rgba(59,71,99,.5);
              box-shadow: 0px 21px 48px -21px rgba(59,71,99,.5);
              .update-info {
                h3 {
                  text-transform: uppercase;
                  font-weight: 600;
                  color: $htext;
                  line-height: 1.5;
                  font-size: 1.2rem;
                  margin-bottom: 1rem;
                }
                p {
                  color: $ptext;
                  line-height: 2;
                  font-size: .8rem;
                  margin-bottom: 1rem;
                }
              }
              .update-stats {
                display: flex;
                padding: 15px 0;
                border-top: 2px solid $border;
                border-bottom: 2px solid $border;
                margin-bottom: 30px;;

                .icon-section {

                  .like-circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20px;
                    width: 20px;
                    background: blue;
                    font-size: .6rem;
                    color: white;
                    border-radius: 50%;
                    background: rgba(50,173,255,1);
                    background: -moz-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,173,255,1)), color-stop(100%, rgba(1,120,255,1)));
                    background: -webkit-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    background: -o-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    background: -ms-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    background: linear-gradient(to bottom, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    .fa-thumbs-up {
                      position: relative;
                      top: -1px;
                    }
                  }
                }
                .other-users {
                  width: 70%;
                  padding-left: 10px;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  color: $verylighttext;
                  font-size: .8rem;
                }
                .comments-stats {
                  width: 30%;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                  color: $verylighttext;
                  font-size: .8rem;
                }
              }
              .compose-comment {
                display: flex;
                justify-content: space-between;
                position: relative;

                textarea {
                  border: none;
                  height: 40px;
                  width: 100%;
                  border-radius: 20px;
                  padding: 11px 30px;
                  font-size: 0.9rem;
                  resize: none;
                  position: relative;
                  z-index: 2;
                  -webkit-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
                  -moz-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
                  box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
                }
                .buttons {
                  display: flex;
                  .repost-button {
                    display: flex;
                    color: $darksideblue;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 40px;
                    background: white;
                    border-radius: 50%;
                    margin-left: 20px;
                    -webkit-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
                    -moz-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
                    box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
                  }
                  .like-button {
                    display: flex;
                    color: white;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 40px;
                    background: white;
                    border-radius: 50%;
                    margin-left: 20px;
                    -webkit-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
                    -moz-box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
                    box-shadow: 0px 0px 15px -3px rgba(191,191,191,1);
                    background: rgba(50,173,255,1);
                    background: -moz-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,173,255,1)), color-stop(100%, rgba(1,120,255,1)));
                    background: -webkit-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    background: -o-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    background: -ms-linear-gradient(top, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    background: linear-gradient(to bottom, rgba(50,173,255,1) 0%, rgba(1,120,255,1) 100%);
                    .fa-thumbs-up {
                      position: relative;
                      top: -2px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #messenger {
      background: $darksideblue;


    }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline:: none;
}
//
//
// h1 {
//   font-weight: 100;
//   font-size: 50px;
// }
//
// .home {
//   height: 100%;
//   width: 100%;
//   text-align: center;
//
//   img {
//     width: 100%;
//     max-width: 300px;
//     margin: 0 auto;
//   }
//
//   .Aligner {
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//
//   .Aligner-item {
//     max-width: 50%;
//   }
//
//   .menu {
//     ul {
//       li {
//         padding: 10px 15px;
//         display: inline-block;
//         font-family: 'Roboto', sans-serif;
//         font-size: 18px;
//         font-weight: 500;
//       }
//     }
//   }
//
//   .version-num {
//     background: #E8E8E8;
//     border-radius: 4px;
//     padding: 7px 15px;
//     display: inline-block;
//     font-size: 12px;
//     margin: 10px 0 20px;
//   }
//
//   a {
//     text-decoration: none;
//     color: #30395C;
//     transition: all 0.3s ease-in-out;
//
//     &:hover {
//       color: #43D4D6;
//     }
//   }
// }
