<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
</head>

<body>
    <div>
        <h3>Dear {{ user.name }},</h3>
        <p>Your password has been successful reset, you can now login with your new password.</p>
        <br>
        <a href="{{ app_url }}/login"> Login </a>
        <div>
            Cheers!
        </div>
    </div>
   
</body>

</html>